body {
    margin: 0;
    padding: 0;
    height: 200vh; /* Beispielinhalt für das Scrollen */
    transition: background-color 0.5s ease; /* Übergangseffekt für einen sanften Farbübergang */
    overflow-x: hidden;
}

#navbar{
    background-color: rgba(128, 0, 128, 0.1);
    transition: background-color 0.5s ease;
}
@media only screen and (min-width: 993px) {
    body {
        background: linear-gradient(to right, #431370 50%, #480587 50%);
    }
}
.background {
    position: relative;
    overflow: hidden;
}

.background-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-img {
    position: relative;
}
.about-img img {
    width: 250%;
    height: 100%;
    object-fit: cover;
    margin-left: -70%; /* Hier können Sie den Wert nach Bedarf ändern */
    margin-right: -10%; /* Hier können Sie den Wert nach Bedarf ändern */
    margin-top: -10%;
}

.about-img h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* Set the text color to make it visible on the image */
    text-align: center;
}

/* Media queries for responsiveness */
@media (min-width: 992px) {
    .about-img img.d-none {
        display: none;
    }

    .about-img img.d-lg-block {
        display: block;
        height: 112vh;
        margin-top: -100px;
    }

    .about-img img.d-lg-none {
        display: none;
    }
}

@media (max-width: 991px) {
    .about-img img.d-none {
        display: none;
    }

    .about-img img.d-lg-block {
        display: none;
    }

    .about-img img.d-lg-none {
        display: block;
        height: 27vh;
        margin-top: -100px;
    }
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Ändere die Höhe der lila Box nach Bedarf */
    background-color: rgb(92, 25, 155);
  }

  .carousel-item img {
    max-width: 100%;
    max-height: 150%;
    width: auto;
    height: auto;
  }

  p{
    color: white;
  }
  h3{
    color: white;
  }
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

  ::-webkit-scrollbar {
    width: 12px; /* Breite des Scrollbalkens */
}

::-webkit-scrollbar-thumb {
    background-color: purple; /* Hintergrundfarbe des Daumenbereichs */
    border-radius: 6px; /* Abrundung des Daumenbereichs */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Hintergrundfarbe des Scrollbahn-Bereichs */
}
.animated-element {
	opacity: 0;
	transform: translateY(20px); /* Startposition nach unten verschoben */
	transition: opacity 1.2s ease, transform 3s ease;
}
.animation-visible {
	opacity: 1;
	transform: translateY(0);
}

body { color: #ccc }
.footer-widget p {
    margin-bottom: 27px;
}
.p {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 28px;
}

   .animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: blueviolet; }

.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite; }

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

.animate-border.border-white:after {
  border-color: #fff; }

.animate-border.border-yellow:after {
  border-color: #F5B02E; }

.animate-border.border-orange:after {
  border-right-color: blueviolet;
  border-left-color: blueviolet; }

.animate-border.border-ash:after {
  border-right-color: #EEF0EF;
  border-left-color: #EEF0EF; }

.animate-border.border-offwhite:after {
  border-right-color: #F7F9F8;
  border-left-color: #F7F9F8; }

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%; }
  50% {
    width: 90%; }
  100% {
    width: 10%; } }

@keyframes primary-long {
  0% {
    width: 80%; }
  50% {
    width: 0%; }
  100% {
    width: 80%; } } 

.dk-footer {
  padding: 75px 0 0;
  background-color: #151414;
  position: relative;
  z-index: 2; }
  .dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 80px; }
    .dk-footer .contact-us .contact-info {
      margin-left: 50px; }
    .dk-footer .contact-us.contact-us-last {
      margin-left: -80px; }
  .dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color:blueviolet; }

.dk-footer-box-info {
  position: absolute;
  top: -122px;
  background: #202020;
  padding: 40px;
  z-index: 2; }
  .dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px; }
  .dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .dk-footer-box-info .footer-social-link li {
    display: inline-block; }
  .dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    color: #fff; }
    .dk-footer-box-info .footer-social-link a i.fa-facebook {
      background-color: blueviolet; }
    .dk-footer-box-info .footer-social-link a i.fa-twitter {
      background-color: blueviolet; }
    .dk-footer-box-info .footer-social-link a i.fa-google-plus {
      background-color: blueviolet; }
    .dk-footer-box-info .footer-social-link a i.fa-linkedin {
      background-color: blueviolet; }
    .dk-footer-box-info .footer-social-link a i.fa-instagram {
      background-color: blueviolet; }

.footer-awarad {
  margin-top: 285px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px; }

.footer-info-text {
  margin: 26px 0 32px; }

.footer-left-widget {
  padding-left: 80px; }

.footer-widget .section-heading {
  margin-bottom: 35px; }

.footer-widget h3 {
  font-size: 24px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content; }

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-widget li {
  margin-bottom: 18px; }

.footer-widget p {
  margin-bottom: 27px; }

.footer-widget a {
  color: #878787;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .footer-widget a:hover {
    color: #007bff; }

.footer-widget:after {
  content: "";
  display: block;
  clear: both; }

.dk-footer-form {
  position: relative; }
  .dk-footer-form input[type=email] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid blueviolet;
    background: blueviolet;
    color: #fff; }
  .dk-footer-form button:hover {
    cursor: pointer; }

/* ==========================

    Contact

=============================*/
.contact-us {
  position: relative;
  z-index: 2;
  margin-top: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contact-icon {
  position: absolute; }
  .contact-icon i {
    font-size: 36px;
    top: -5px;
    position: relative;
    color: blueviolet; }

.contact-info {
  margin-left: 75px;
  color: #fff; }
  .contact-info h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0; }

.copyright {
  padding: 28px 0;
  margin-top: 55px;
  background-color: #202020; }
  .copyright span,
  .copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .copyright a:hover {
    color: blueviolet; }

.copyright-menu ul {
  text-align: right;
  margin: 0; }

.copyright-menu li {
  display: inline-block;
  padding-left: 20px; }

.back-to-top {
  position: relative;
  z-index: 2; }
  .back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .back-to-top .btn-dark:hover {
      cursor: pointer;
      background: #FA6742;
      border-color: #FA6742; }
    

      .testimonial-card .card-up {
        height: 120px;
        overflow: hidden;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
      }
      .testimonial-card .avatar {
        width: 110px;
        margin-top: -60px;
        overflow: hidden;
        border: 3px solid #fff;
        border-radius: 50%;
      }

      .field {
        margin-bottom: 10px;
      }
      
      .field label {
        display: block;
        font-size: 12px;
        color: #777;
      }
      
      .field input {
        display: block;
        min-width: 250px;
        line-height: 1.5;
        font-size: 14px;
      }
      
      input[type="submit"] {
        display: block;
        padding: 6px 30px;
        font-size: 14px;
        background-color: #4460AA;
        color: #fff;
        border: none
      }